datarobot-drum

cloudpickle
torch
transformers
openai
langchain
optimum
onnxruntime
onnx
sentence-transformers
faiss-cpu
numpy
pandas
scikit-learn
scipy
tiktoken
google-cloud-aiplatform
aws-request-signer
pydantic
pydantic-settings
aiofiles
aioboto3
rouge-score
fugashi
unidic-lite
llama-index
llama-index-llms-azure-openai
distro
# next version of httpx, 0.28.0, has a bug that breaks opanai library, which is pinned
# https://github.com/openai/openai-python/issues/1902
httpx==0.27.2
protobuf==3.20.3
