altair==4.2.0
dask==2022.9.2
datarobot-bp-workshop==0.2.6
datarobot-drum==1.10.6
datarobot-model-metrics==0.2.4
datarobot-predict==1.0.0
datarobot==3.2.0b1
dummyPy==0.3
eli5==0.13.0
gensim==4.2.0
graphviz==0.20.1
imblearn
joblib==1.2.0
latexify-py==0.1.1
lime==0.2.0.1
matplotlib==3.6.1
mistune==2.0.4
numpy==1.23.3
openpyxl==3.0.10
pandas==1.5.1
plotly==5.10.0
scikit-learn==1.1.2
scipy==1.9.2
seaborn==0.12.0
shap==0.41.0
snowflake-connector-python[secure-local-storage,pandas]==3.0.4
snowflake-snowpark-python==1.2.0
spacy==3.4.1
statsmodels==0.13.2
tqdm==4.64.1
umap-learn==0.5.3
vowpalwabbit==9.4.0
wordcloud==1.8.2.2
xgboost==1.6.2
yellowbrick==1.5
pydantic==1.10.8
