dr-usertool>=0.5.18
# PyYAML & drca are constrained by dr-usertool and its deps
PyYAML>=3.11
drca==0.2.42
pytest
pytest-runner
pytest-xdist
responses
urllib3 >= 1.25.0
datarobot==2.28.1
datarobot-bp-workshop==0.2.5
requests >= 2.24.0
scikit-learn==0.24.2
retry
# > NOTE: when pinning datarobot-mlops to 8.2.1 and higher you may need to reinstall datarobot package
# as datarobot-mlops overwrites site-packages/datarobot. [AGENT-3504]
datarobot-mlops==8.2.7