datarobot==3.1.0
datarobot-bp-workshop==0.2.6
dr-usertool>=3
docker>=4.2.2,<5.0.0
pytest
pytest-runner
pytest-xdist
# PyYAML & drca are constrained by dr-usertool and its deps
PyYAML>=3.11
requests >= 2.24.0
responses
retry
# Note: keep this as these requirements are installed in quantum, which is Py3.7
scikit-learn==1.0.2; python_version=="3.7"
scikit-learn==1.0.2; python_version>="3.8"
urllib3>=1.25.0,<2.0.0
