numpy>=1.20.3
h5py==3.1.0
scipy>=1.1,<2
pandas<=2.0.3
scikit-learn==1.0.2
requests_toolbelt
xgboost==1.1.1
grpcio==1.34.0
tensorflow==2.11.1
Pillow==9.3.0
pypmml==0.9.16
strictyaml==1.4.2
docker>=4.2.2<5.0.0
flask
termcolor
onnxruntime==1.10.0
