numpy==1.19.5
h5py>=2.7.0,<3
scipy>=1.1,<2
pandas==1.0.5
scikit-learn==0.23.1
sagemaker-scikit-learn-extension==1.1.0
requests_toolbelt
xgboost==1.1.1
torch==1.2.0
grpcio==1.32.0
tensorflow==2.4.0
Pillow==8.2.0
pypmml==0.9.6
rpy2==3.3.6
strictyaml==1.0.6
docker>=4.2.2<5.0.0
flask
