annotated-types==0.7.0
click==8.2.1
crewai==0.193.2
crewai-tools==0.76.0
datarobot==3.9.1
datarobot-drum==1.17.5
datarobot-genai==0.1.28
datarobot-mlops==11.1.0
datarobot-moderations==11.2.3
datarobot-predict==1.13.2
dotenv==0.9.9
ecs-logging==2.2.0
fastapi==0.118.2
fastmcp==2.12.5
ipykernel==6.28.0
jupyter-client==8.6.3
jupyter-core==5.9.1
jupyter-kernel-gateway==3.0.1
langchain==0.3.27
langchain-community==0.3.31
langchain-litellm==0.3.0
langchain-mcp-adapters==0.1.11
langgraph==0.6.10
langgraph-prebuilt==0.6.4
legacy-cgi==2.6.3
litellm==1.74.9
llama-index==0.13.6
llama-index-core==0.13.6
llama-index-llms-langchain==0.7.1
llama-index-llms-litellm==0.6.3
llama-index-llms-openai==0.5.6
logfire==4.13.2
mcp==1.16.0
mistune==3.1.4
multidict==6.7.0
numpy==1.26.4
nvidia-nat==1.3.0
nvidia-nat-crewai==1.3.0
nvidia-nat-langchain==1.3.0
nvidia-nat-opentelemetry==1.3.0
onnxruntime==1.22.0
openai==1.109.1
opentelemetry-api==1.37.0
opentelemetry-instrumentation-aiohttp-client==0.58b0
opentelemetry-instrumentation-crewai==0.47.3
opentelemetry-instrumentation-httpx==0.58b0
opentelemetry-instrumentation-langchain==0.47.3
opentelemetry-instrumentation-llamaindex==0.47.3
opentelemetry-instrumentation-openai==0.47.3
opentelemetry-instrumentation-requests==0.58b0
opentelemetry-sdk==1.37.0
pandas==2.2.3
psutil==5.9.8
pyarrow==20.0.0
pybase64==1.4.2
pydantic-ai==1.1.0
pylance==0.38.1
pypdf==6.1.3
python-dotenv==1.1.1
ragas==0.3.8
requests==2.32.5
setuptools==80.9.0
traceloop-sdk==0.47.3
ujson==5.7.0
uvicorn==0.35.0
uwsgi==2.0.31
