# This file is used to generate the requirements.txt file for the Docker image.
setuptools
ecs-logging
jupyter-client
jupyter_kernel_gateway
jupyter_core>=5.8.1
ipykernel<6.29.0
pandas
numpy
mistune
numpy
uwsgi

# CVE Updates
flask>=3.1.1
requests>=2.32.4
protobuf>=5.29.5,<6.0.0
starlette>=0.40.0
pillow>=11.3.0
urllib3>=2.5.0

# GenAI Environment
click~=8.1.8
crewai>=0.177.0
crewai-tools>=0.69.0
datarobot-drum>=1.16.22
datarobot-moderations>=11.2.3
datarobot-mlops>=11.1.0
datarobot[auth]>=3.8.2
dotenv~=0.9.9
langchain-community~=0.3.23
langchain-mcp-adapters~=0.1.9
langchain~=0.3.23
langgraph~=0.4.10
langgraph-prebuilt~=0.2.3
legacy-cgi~=2.6.3
litellm>=1.72.1
llama-index-core>=0.12.49
llama-index-llms-langchain>=0.6.1
llama-index-llms-litellm>=0.4.1
llama-index-llms-openai>=0.3.38
llama-index~=0.12.33
mcp>=1.11.0
multidict~=6.5.0
onnxruntime~=1.22.0
openai>=1.76.2
opentelemetry-api>=1.33.0,<2.0.0
opentelemetry-instrumentation-aiohttp-client>=0.54b0
opentelemetry-instrumentation-crewai>=0.40.5
opentelemetry-instrumentation-httpx>=0.54b0
opentelemetry-instrumentation-langchain>=0.40.5
opentelemetry-instrumentation-llamaindex>=0.40.5
opentelemetry-instrumentation-openai>=0.40.5
opentelemetry-instrumentation-requests>=0.54b0
opentelemetry-sdk>=1.33.0
python-dotenv~=1.1.0
ragas @ git+https://github.com/explodinggradients/ragas@5d59549ad5ef511f621502c563bc55ac5aeb9188#subdirectory=ragas
# pyarrow==21.0.0 breaks the current ragas version https://github.com/apache/arrow/issues/47155
pyarrow<21.0.0
requests~=2.32.4
traceloop-sdk~=0.40.2
uvicorn~=0.35.0
