# This file is used to generate the requirements.txt file for the Docker image.
setuptools
ecs-logging
jupyter-client
jupyter_kernel_gateway
jupyter_core>=5.8.1
ipykernel<6.29.0
pandas
numpy
mistune
datarobot-drum>=1.16.16
datarobot
numpy
uwsgi
flask>=3.1.1

# Generative AI Frameworks
crewai
crewai-tools
langgraph
langchain
langchain-community
llama-index
llama-index-llms-openai
llama-index-llms-langchain
llama-index-llms-litellm
openai
ragas @ git+https://github.com/explodinggradients/ragas@5d59549ad5ef511f621502c563bc55ac5aeb9188#subdirectory=ragas
datarobot-moderations>=11.1.14

# Generative AI Telemetry
traceloop-sdk
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-aiohttp-client
opentelemetry-instrumentation-crewai
opentelemetry-instrumentation-langchain
opentelemetry-instrumentation-llamaindex
opentelemetry-instrumentation-openai
opentelemetry-instrumentation-requests
