  {
      "name": "Python Default Predictor",
      "engineType": "Generic",
      "pipe": [
          {
              "name": "Shared Mem Source",
              "id": 1,
              "type": "shared_mem_to_df",
              "parents": [],
              "arguments": {
                  "input_filename": "{{ input_filename }}"
              }
          },
          {
              "name": "Python Predictor",
              "id": 2,
              "type": "python_predictor",
              "parents": [{"parent": 1, "output": 0}],
              "arguments": {
                "positiveClassLabel": {{ positiveClassLabel }},
                "negativeClassLabel": {{ negativeClassLabel }},
                "__custom_model_path__": "{{ customModelPath }}"
              }
          },
          {
              "name": "Shared Mem Sink",
              "id": 3,
              "type": "df_to_shared_mem",
              "parents": [{"parent": 2, "output": 0}],
              "arguments": {
                  "output_filename": {{ output_filename }}
              }
          }
      ]
  }
