argcomplete==1.11.1
datarobot==2.24.0
docker>=4.2.2<5.0.0
flask
jinja2
memory_profiler<1.0.0
mlpiper~=2.4.0
numpy
pandas
progress
requests
scipy>=1.1,<2
strictyaml==1.0.6
texttable
py4j~=0.10.9.0
pyarrow==2.0.0
Pillow==8.1.1
julia==0.5.6