argcomplete
# trafaret version pinning is defined by `datarobot`
trafaret>=2.0.0
docker>=4.2.2
flask
jinja2>=3.0.0
memory_profiler<1.0.0
numpy<2.0  # constrained by latest pandas (2.2.3) in PyPi
pandas>=1.5.0
progress
requests
scipy>=1.1
strictyaml==1.4.2
PyYAML
texttable
py4j~=0.10.9.0
# only constrained by other packages, not DRUM
pyarrow
Pillow
# constrained by Julia env
julia<=0.5.7
termcolor
packaging
markupsafe
pydantic
datarobot-storage
datarobot-mlops>=10.2.0  # Required for the 'set_api_spooler' with arugments
datarobot>=3.1.0,<4
