numpy>=1.19.0,<2
h5py>=2.7.0,<3
scipy>=1.1,<2
pandas==1.1.0
scikit-learn==0.23.1
sagemaker-scikit-learn-extension==1.1.0
requests_toolbelt
xgboost==1.1.1
torch==1.2.0
grpcio==1.27.2
tensorflow==2.2.1
keras==2.3.1
Pillow==7.1.2
pypmml==0.9.6
strictyaml==1.0.6
docker>=4.2.2<5.0.0
