accelerate==0.21.0
langchain==0.3.1
onnx==1.16.0
onnxruntime-gpu==1.15.1
openai==0.27.8
tiktoken==0.4.0
torch==2.4.0
torchaudio==2.4.0
torchvision==0.19.0
transformers==4.53.0
cudf-cu12==23.12.1
cuml-cu12==23.12.0
cupy-cuda12x==13.0.0
